.search-results2 {
  color: white;
  height: calc(100vh - 90px);
  overflow: scroll;
}
.search-div {
  width: calc(100vw - 230px);
  overflow: scroll;
  background: #0d0d0d;
}

.input-box {
  background: #282828;
  width: 100%;
  border-radius: 0;
  height: 80px;
  border: none;
  color: white;
  font-size: 36px;
  padding-left: 100px;
}

/* .search-results {
  color: white;
} */

.input-box::placeholder {
  font-size: 36px;
}

.result-list {
  color: white;
  list-style-type: none;
}

.top-results {
  text-align: center;
  padding-top: 50px;
  font-size: 14px;
  letter-spacing: 1px;
  border-bottom: 1px solid green;
  padding-bottom: 5px;
  width: 120px;
  margin: 0 auto 35px;
}

.results-div {
  display: flex;
}

.results-img {
  height: 250px;
  margin-left: 50px;
}

.results-photo {
  text-align: center;
}

.results-p {
  margin-top: 15px;
}

.results-p > p {
  margin-bottom: 0;
}

.last-p > a {
  font-size: 12px;
  color: lightgrey;
  text-decoration: none;
}

.song-p {
  display: flex;
  font-size: 12px;
  color: lightgrey;
}

.song-p > p > a {
  color: lightgrey;
  text-decoration: none;
}

.star {
  font-size: 15px;
  margin: 0 5px;
}

.artist-results {
  margin-top: 50px;
}

.results-header {
  font-weight: bold;
  margin-left: 40px;
}

.artist-results-list {
  display: flex;
  list-style-type: none;
}

.artist-result-pic {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}

.artist-li-div {
  text-align: center;
  width: 300px;
}

.artist-li-div > a {
  color: white;
  text-decoration: none;
}

.artist-li-div > a > p {
  padding-top: 15px;
  font-size: 14px;
  font-weight: bold;
}

.albums-list2 {
  margin-top: 50px;
}

.albums-list2 {
  list-style-type: none;
  padding-left: 0;
  display: flex;
}

.albums-list2 > li {
  list-style-type: none;
  width: 300px;
  text-align: center;
}

.albums-header2 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  color: white;
  font-weight: bold;
}

.album-results {
  margin-bottom: 150px;
}

.no-results {
  margin: 30px 40px;
}

/* loader */

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }
  50%,
  100% {
    top: 19px;
    height: 26px;
  }
}
