.library-albums-show {
  height: calc(100vh - 90px);
  width: calc(100vw - 230px);
  position: relative;
  top: 100px;
}
.no-albums{
  font-size: 50px;
    color: white;
    margin-top: 85px;
}
.album-image{
  display: flex;
  align-items: center;
  justify-content: center;
}