.library-artists-show {
  height: calc(100vh - 90px);
  width: calc(90vw - 230px);
  margin-top: 100px;
}

.artist-image-container {
  margin-right: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artists-list {
  display: flex;
  flex-direction: row;
}

.artist-image {
  display: flex;
  width: 145px;
  height: 145px;
  background-image: url(https://townsquare.media/site/366/files/2014/11/Alice-in-Chains-1080.jpg?w=980&q=75);
  background-size: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
  object-fit: cover;
}

.artist-artist-name {
  font-style: 13px;
}

.artist-play-icon {
  margin: auto;
}
