@media all and (min-width: 900px) {
  .album-show {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-grow: 1;
    height: calc(100vh - 90px);
    overflow-y: scroll;
    overflow-x: hidden;
    background-image: linear-gradient(to bottom right, #106063, black);
  }

  .left-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    margin-top: 75px;
  }
  .album-photo-container {
    height: 235px;
    width: 235px;
  }

  .right-column {
    flex-grow: 1;
    margin-top: 30px;
    margin-right: 30px;
  }
}
@media all and (max-width: 899px) {
  .album-show {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    height: calc(100vh - 90px);
    overflow-y: scroll;
    overflow-x: hidden;
    background-image: linear-gradient(to bottom right, #106063, black);
  }

  .album-photo-container {
    height: 205px;
    width: 205px;
  }
}

.loading-screen {
  background-color: black;
  height: calc(100vh - 90px);
  width: calc(100vw - 230px);
  position: fixed;
  left: 230px;
  bottom: 90px;
  margin: 0;
}

/* .album-photo-container {
  max-height: 225px;
  max-width: 225px;
  
} */
.album-show-overlay {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0);
  transition: background 0.2s ease;
}
.album-show-overlay:hover {
  background: rgba(0, 0, 0, 0.8);
}

.album-show-play-icon {
  visibility: hidden;
  opacity: .8;
  transform: scale(1.25);
}
.album-show-play-icon:hover{
  opacity: 1;
  transform: scale(1.50);
}

.album-photo {
  width: 100%;
  height: 100%;
}

.album-name {
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.005em;
  font-weight: var(--glue-font-weight-black);
  color: #fff;
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: center;
}
.album-artist-name {
  margin-top: 0;
  font-size: 14px;
  color: #fff;
  margin-bottom: 40px;
}
.album-artist-name:hover {
  text-decoration: underline;
}
.play {
  background-color: #1db954;
  font-size: 11px;
  color: white;
  border: 0;
  border-radius: 500px;
  min-width: 130px;
  vertical-align: middle;
  text-align: center;
  line-height: 1.6;
  padding: 11px 44px;
  margin-bottom: 8px;
  outline: none !important;
}
.play:hover {
  filter: brightness(125%);
}

.more-info {
  color: white;
  font-size: 11px;
  margin-bottom: 45px;
}

.favorite {
  margin-right: 20px;
  object-fit: contain;
  width: 30px;
}

.menu {
}

.songs-list {
  margin-top: 0;
  flex-direction: column;
  width: 100%;
  padding: 0;
  color: white;
  font-size: 16px;
  cursor: default;
  margin-right: 20px;
}
.songs-list > li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4em;
}
.songs-list > li:hover {
  transition: background 0.3s ease;
  background: rgba(0, 0, 0, 0.9);
}
.songs-list > li:hover .menu {
  visibility: visible;
}
.playicon-container {
  margin-right: 5px;
}
.playicon {
  max-width: 19px;
  max-height: 19px;
}

.left-menu-icon {
}
