.artist-show {
  flex-grow: 1;
  height: calc(100vh - 90px);
  overflow-y: scroll;
  overflow-x: hidden;
}
.title-header {
  /* background-image: url(paper.gif); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #07040f;
  flex-grow: 1;
  height: calc(100vh - 90px);
}

.albums-section {
  margin-right: auto;
}

.artist-name {
  font-size: 72px;
  line-height: 82px;
  letter-spacing: -0.005em;
  font-weight: var(--glue-font-weight-black);
  color: white;
  text-transform: none;
}

.artist-name-div {
  font-weight: bold;
  position: relative;
  top: -120px;
}
.artist-favorite {
  margin-right: 35px;
}
.artist-play {
  background-color: #1db954;
  font-size: 11px;
  color: white;
  border: 0;
  border-radius: 500px;
  min-width: 130px;
  vertical-align: middle;
  text-align: center;
  line-height: 1.6;
  padding: 11px 44px;
  outline: none !important;
  margin-right: 35px;
}

.albums-header {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  color: white;
}
.albums-list {
  display: flex;
  flex-wrap: wrap;
}

.album-image-container {
  width: 145px;
  height: 145px;
  margin-right: 18px;
  text-decoration: none;
  list-style: none;
  text-align: center;
}
.overlay{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0);
  transition: background .2s ease;
}
.overlay:hover{
   background: rgba(0,0,0,.8);
}

.album-image {
  
}

.album-image-container > a {
  text-align: center;
}

/* .album-image:hover{
  opacity: .5!important;
}
.album-play-icon{
  z-index: 1;
} */

.artist-album-name {
  text-decoration: none !important;
  color: white;
  margin-bottom: 0;
}
.artist-artist-name {
  color: darkgray;
  font-size: 15px;
}
/* .album-image{
  width: 100px;
  height: 100px;
} */

.artist-loading-screen {
  height: calc(100vh - 90px);
  width: calc(100vw - 230px);
  background-color: black;
}
