.progress-bar-container {
  position: fixed;
  bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.time-label {
  margin: 0;
  color: #b3b3b3;
  font-size: 11px;
  font-family: sans-serif;
}

.player-album-art {
  height: 56px;
  width: 56px;
  position: fixed;
  bottom: 17px;
  left: 17px;
}

.sb-soundplayer-progress-container {
  background-color: var(--sb-progress-bg-color);
  width: 488px;
  height: 4px;
  overflow: hidden;
  cursor: pointer;
  margin: 0px 5px 5px 5px;
  /* position: fixed;
  bottom: 15px;
  left: calc(50vw - 244px); */
}

.sb-soundplayer-progress-inner {
  background-color: var(--sb-progress-color);
  height: 100%;
  transition: width 0.2s ease-in;
}

.sb-soundplayer-progress-container:hover > .sb-soundplayer-progress-inner {
  background-color: #1db954;
  height: 100%;
  transition: width 0.2s ease-in;
}

.player-track-labels {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 130px;
  color: #ffffff;
  font-size: 14px;
  font-family: sans-serif;
  margin-left: 90px;
}

.player-track-song-title-label {
  color: #ffffff;
  font-size: 14px;
  font-family: sans-serif;
  margin: 0;
}

.player-track-artist-label {
  color: #b3b3b3;
  font-size: 12px;
  font-family: sans-serif;
  margin: 0;
}

:root {
  --sb-progress-color: #b3b3b3;
  --sb-progress-bg-color: #404040;
  --sb-progress-height: 4px;
}

.p1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.sb-soundplayer-prev-btn {
  position: fixed;
  bottom: 35px;
  left: calc(50vw - 48px);
  width: 32px;
  height: 32px;
}

.sb-soundplayer-next-btn {
  position: fixed;
  bottom: 35px;
  left: calc(50vw + 48px);
  width: 32px;
  height: 32px;
}

.sb-soundplayer-volume {
  display: flex;
  align-items: center;
  margin-right: 17px;
}

/* .sb-soundplayer-volume-range:hover {
  background-color: #1db954;
} */

.sb-soundplayer-volume div {
  width: 80px;
  overflow: hidden;
}
.sb-soundplayer-volume-range {
  -webkit-appearance: none;
  width: 98%;
}
.sb-soundplayer-volume-range:focus {
  outline: none;
}
/* track */
.sb-soundplayer-volume-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.2em;
  cursor: pointer;
  animate: 0.2s;
  background: #ddd;
  border-radius: 1.3px;
}
.sb-soundplayer-volume-range::-moz-range-track {
  width: 100%;
  height: 0.2em;
  cursor: pointer;
  animate: 0.2s;
  background: #404040;
  border-radius: 1.3px;
}
.sb-soundplayer-volume-range::-ms-track {
  width: 100%;
  height: 0.2em;
  cursor: pointer;
  animate: 0.2s;
  background: #404040;
  border-radius: 1.3px;
}
/* thumb dial */
.sb-soundplayer-volume-range::-moz-range-thumb {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #ddd;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.4em;
}
.sb-soundplayer-volume-range::-webkit-slider-thumb {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.4em;
}
.sb-soundplayer-volume-range::-ms-thumb {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #ddd;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.4em;
}
/* progress fill */
.sb-soundplayer-volume-range::-ms-fill-lower {
  background: #ddd;
}

.sb-soundplayer-play-btn {
  position: fixed;
  bottom: 35px;
  left: calc(50vw);
  width: 32px;
  height: 32px;
  border: 1px solid #b3b3b3;
  border-radius: 100%;
}

.sb-soundplayer-volume-range {
  background-color: #404040;
}

.sb-soundplayer-btn {
  display: inline-block;
  background-color: transparent;
  color: var(--sb-btn-color);
  font-size: 1em;
  padding: 1rem;
  margin: 0;
  height: auto;
  vertical-align: middle;
  border-radius: 3px;
  text-decoration: none;
  border: 0;
  outline: none;
  cursor: pointer;
  transition: transform, box-shadow, 0.05s ease;
  box-sizing: border-box;
  -webkit-appearance: none;
}
.sb-soundplayer-btn:hover {
  transform: scale(1.0625);
}
.sb-soundplayer-btn:focus {
  transform: scale(0.9375);
}
.sb-soundplayer-btn:active {
  box-shadow: inset 0 0 0 2px var(--sb-btn-color);
}
.sb-soundplayer-btn:hover,
.sb-soundplayer-btn:focus {
  box-shadow: none;
}

:root {
  --sb-btn-color: #b3b3b3;
}

.sb-soundplayer-icon {
  width: 1em;
  height: 1em;
  position: relative;
  vertical-align: middle;
}

.b2 {
  border-width: 2px;
}

header {
  background-image: linear-gradient(45deg, var(--teal), rgba(0, 255, 127, 0.7));
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

h2 a:hover {
  text-decoration: none;
}

.social-buttons {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.semibold {
  font-weight: 600;
}

.muted {
  opacity: 0.3;
}

.btn-small.btn-square {
  padding: 0.25rem 0.3rem;
}

.custom-track-bg::-webkit-slider-runnable-track {
  background-color: rgba(0, 0, 0, 0.25);
}
.custom-track-bg::-moz-range-track {
  background-color: rgba(0, 0, 0, 0.25);
}
.custom-track-bg::-ms-track {
  background-color: rgba(0, 0, 0, 0.25);
}
.custom-track-bg::-moz-range-thumb {
  background: #fff;
}
.custom-track-bg::-webkit-slider-thumb {
  background: #fff;
}
.custom-track-bg::-ms-thumb {
  background: #fff;
}

:root {
  --font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --container-width: 820px;
  --yellow: rgba(255, 220, 0, 0.45);
  --orange: #fc561e;
  --button-line-height: 1;
  --sb-progress-height: 8px;
  --button-big-padding-x: 1.25rem;
  --button-big-padding-y: 1.25rem;
}
