.library-page-area {
  width: calc(100vw - 230px);
  height: calc(100vh - 90px);
  /* left: 230px;
  bottom: 90px; */
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  align-items: center;
  background-image: linear-gradient(to bottom right, #ab712a, black);
}

.playlist-input-box {
  background: #282828;
  width: 100vw;
  border-radius: 0;
  height: 80px;
  border: none;
  color: white;
  font-size: 36px;
  padding-left: 100px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.visible {
  display: block;
}

.library-nav-bar {
  margin-top: 30px;
  display: flex;
  width: 30vw;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.library-nav-bar a {
  text-decoration: none;
  margin: 0 8px 0 8px;
  color: #b3b3b3;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
}

.library-nav-bar a:hover {
  cursor: pointer;
  color: #ffffff;
  /* text-decoration-color: #1DB954; */
}

.library-nav-bar a:active {
  text-decoration: underline;
  text-decoration-color: #1db954;
}

.new-playlist-button {
  margin-top: 50px;
  color: white;
  border-radius: 500px;
  width: 140px;
  height: 30px;
  background: #1db954;
  font-weight: 400;
  border: 1px solid transparent;
  font-size: 11px;
  outline: none !important;
  text-align: center;
  line-height: 30px;
  font-family: sans-serif;
}

.new-playlist-div {
  width: 150px;
  height: 50px;
}

.new-playlist-button:hover {
  background: #1ed760;
  font-size: 13px;
  width: 150px;
  height: 32px;
  line-height: 32px;
  text-decoration: none;
  color: #ffffff;
}

.new-playlist-cancel-button {
  margin-top: 50px;
  color: white;
  border-radius: 500px;
  width: 140px;
  height: 30px;
  background: black;
  font-weight: 400;
  border: 1px solid lightgray;
  font-size: 11px;
  outline: none !important;
  text-align: center;
  line-height: 30px;
  font-family: sans-serif;
  margin-right: 15px;
}

.new-playlist-cancel-button:hover {
  width: 150px;
  height: 32px;
}

.new-playlist-form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.x-button {
  color: #ffffff;
  background: none;
  border: none;
  font-size: 45px;
  margin-bottom: 2px;
}

.x-button:hover {
  cursor: pointer;
  font-size: 47px;
  margin-bottom: 0;
}

.new-playlist-form > h1 {
  color: #ffffff;
  font-weight: bold;
}

.new-playlist-form-buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.new-playlist-form-buttons > div {
  width: 150px;
  margin-right: 15px;
}

.new-playlist-form-buttons button {
  margin: 0 5px 0 5px;
}

.library-playlist-header {
  margin-top: 50px;
  color: white;
}

.library-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30%;
}

.nested-modal {
    display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.library-playlist-name {
  text-decoration: none !important;
  color: white;
  margin-bottom: 0;
}

.library-playlist-length { 
  color: darkgray;
  font-size: 15px;
}

.playlist-image:hover {
  cursor: pointer;
}