.prev-icon {
  height: 17px;
  width: 17px;
  position: fixed;
  bottom: 35px;
  left: calc(50vw - 48px);
}

.play-icon {
  height: 20px;
  width: 20px;
  position: fixed;
  bottom: 35px;
  left: calc(50vw);
}

.next-icon {
  height: 17px;
  width: 17px;
  transform: rotate(180deg);
  position: fixed;
  bottom: 35px;
  left: calc(50vw + 48px);
}
