#sidebar-container {
  width: 230px;
  height: calc(100vh - 90px);
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
}

#logo {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo > a {
  display: flex;
  text-decoration: none;
  height: 50px;
  align-items: center;
  outline: none;
}

#sidebar-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 30px;
  width: 100%;
}

.footer-icon {
  margin-top: 10px;
}
.signup {
  width: auto;
  background-color: white;
  width: fit-content;
  border-radius: 20px;
  padding: 8px 60px;
  letter-spacing: 2px;
  font-size: 14px;
}
.signup a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  font-size: 12px;
}

.login-p {
  background-color: black;
  width: fit-content;
  border-radius: 20px;
  padding: 8px 60px;
  border: 1px solid lightgray;
  margin-top: 0px;
}
.login-p a {
  font-size: 12px;
  color: white;
  text-decoration: none;
  padding: 10px;
}

.signup:hover {
  padding: 8px 65px;
  font-size: 14px;
  font-weight: bold;
}

.login-p:hover {
  padding: 8px 65px;
  font-size: 14px;
  border: 2px solid white;
  font-weight: bold;
}

.str-logo {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

a > h3 {
  color: white;
  font-size: 25px;
}

.home-logo {
  height: 35px;
  width: 35px;
  border-radius: 50px;
  margin-right: 10px;
}

.search-logo {
  height: 25px;
  width: 25px;
  margin-right: 10px;
  margin-left: 5px;
}

.library-logo {
  height: 25px;
  width: 25px;
  margin-right: 10px;
  margin-left: 5px;
}

.align-div {
  display: flex;
  margin-left: 10px;
  height: 45px;
}

.align-div > a {
  color: lightgray;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 50px;
}

.align-div > a > h6 {
  margin: auto 0;
}

.home-link {
  color: white;
  margin-bottom: 0;
}

.align-div > a > h6:hover {
  color: white;
}

.account-footer {
  border-top: 1px solid lightgray;
  position: absolute;
  width: 80%;
  bottom: 0px;
  left: 20px;
  margin-bottom: 20px;
}

.profile-icon {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  margin-left: 10px;
}

.account-footer > div > a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.str-header {
  margin-bottom: 0;
}
