.add-song-to-playlist-modal {
  width: 100vw;
  height: 100vh;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
}

.visible {
  display: block;
}

.playlist-song-modal-div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.playlist-modal-item {
  margin-right: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playlist-modal-item:hover {
  cursor: pointer;
}

.playlists-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.playlist-x {
  margin-top: 50px;
}

.playlist-song-modal-div h1 {
  color: #ffffff;
  font-weight: bold;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.modal-new-playlist-button {
  background-color: #1db954;
  font-size: 11px;
  color: white;
  border: 0;
  border-radius: 500px;
  min-width: 130px;
  vertical-align: middle;
  text-align: center;
  line-height: 1.6;
  padding: 11px 44px;
  outline: none !important;
}

.modal-new-playlist-button:hover {
  cursor: pointer;
}

.playlist-name {
  text-decoration: none !important;
  color: white;
  margin-bottom: 0;
}

.playlist-length {
  color: darkgray;
  font-size: 15px;
}
