.menu {
  visibility: hidden;
}

.menu-icon {
  transform: rotate(90deg);
}


.menu-button {
  position: relative;
   border: none;
   background: none;
   height: 30px;
   width: 30px;
   background-size: contain;
   margin-left: 20px;
   cursor: pointer;
 }
 .menu-button:hover {
   outline: none;
 }

.song-menu {
  position: absolute;
    display: flex;
    padding-left: 0px;
    padding-top: 16px;
    padding-bottom: 15px;
    flex-direction: column;
    color: white;
    align-items: flex-start;
    justify-content: flex-start;
    top: 30px;
    width: 195px;
    list-style: none;
    right: 0;
    background: #333;
}
.song-menu {
  padding-top: 10px;
  padding-bottom: 10px;
}
.song-menu-item:hover {
  background: #555;
}
.song-menu-item{
  font-size: 15px;
    text-align: start;
    line-height: 40px;
    height: 40px;
    width: 100%;
    padding-left: 20px;
    padding-bottom:0px;
    padding-top: 0px;
}
p {
  padding: 0;
}