.menu {
  visibility: hidden;
}

.menu-icon {
  transform: rotate(90deg);
}


.menu-button {
  position: relative;
   border: none;
   background: none;
   height: 30px;
   width: 30px;
   background-size: contain;
   margin-left: 20px;
   cursor: pointer;
 }
.song-menu {
  position: absolute;
    display: flex;
    padding-left: 0px;
    padding-top: 16px;
    padding-bottom: 15px;
    flex-direction: column;
    color: white;
    align-items: flex-start;
    justify-content: flex-start;
    top: 30px;
    width: 195px;
    right: 0;
    background: #333;
    font-size: 14px;
}
.song-menu > li:hover {
  background: #F3F3F3;;
}
.song-menu-item{
  font-size: 13px;
    text-align: start;
    
    width: 100%;
    padding-left: 20px;
}